
.page-titulo{
    width: 40%;
}

.login-page{
    margin: 1em;
    padding: 1em;
}

.form-input{
    width: 75% !important;
}

.form-box{
    margin: 1em;
}

.nav-menu{
    width: 100%;
    position:relative;
    margin-right: 0em;
    margin-left: 0em;
    border: none;
}

.plant-image{
    height: 200px;
    width: 200px;
}

.document-page{
    margin: 2em;
    border-radius: 10px;
}

.font-size-control{
    font-size: 100%;
}

.login-box{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.login-body{
    margin-bottom: 0;
}

.doc-image{
    height: 450px;
    width: 450px;
}

.doc-body{
    display: flex;
}

.doc-ficha{
    width: 40% !important;
}

.doc-field{
    height: fit-content !important;
}


/*Responsivo*/
@media screen and (max-width: 640px){
    .page-titulo{
        width: 100%;
    }

    .login-page{
        margin: 0;
        padding: 0;
    }

    .form-box {
        margin: 0;
        padding: 1em;
    }

    .login-box{
        border-radius: 0em;
    }
    .login-footer{
        border-radius: 0em;
    }

    .form-input{
        width: 100% !important;
    }

    .inputs{
        margin-left: .5em;
        margin-right: .5em;
    }

    .nav-menu{
        margin-right: 1em;
        margin-left: -2em;
        border-radius: var(--bs-border-radius);
        position:absolute;
        border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
        border-color: var(--bs-primary-border-subtle);
        border-radius: var(--bs-border-radius);
    }

    .plant-image{
        height: 100px;
        width: 100px;
    }

    .doc-image{
        height: 150px;
        width: 150px;
    }

    .document-page{
        margin: 0;
    }

    .font-size-control{
        font-size: 50%;
    }

    .doc-body{
        display: block;
    }

    .doc-ficha{
        width: 100% !important;
    }
}